* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), url('pins/2cf7d5e1d1d67884e5763cced037cb1e.jpg'));
    background-position: center;
    background-size: cover;
    position: relative;
    color: white; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
